<style>
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* แบ่งช่องเป็น 2 คอลัมน์เท่ากัน */
    grid-template-rows: 1fr 1fr; /* แบ่งช่องเป็น 2 แถวเท่ากัน */
    height: 100vh; /* ให้ container สูงเต็มหน้าจอ */
  }

  #red {
    background-color: #ff0000;
  }
  #green {
    background-color: #008800;
  }
  #blue {
    background-color: #0000ff;
  }
  #black {
    background-color: #000000;
  }
</style>
<div class="container">
  <div id="red"></div>
  <div id="green"></div>
  <div id="blue"></div>
  <div id="black"></div>
</div>
