<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="atlasx.cdg.co.th" value="https://atlasx.cdg.co.th/nexus/repository/nuget-hosted/" />
    </packageSources>
</configuration>