.map-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* เต็มหน้าจอ */
}

.map-panel {
  flex: 2; /* ให้แผนที่ใช้พื้นที่ 2 ส่วนจาก 3 */
  height: 100%;
}

.table {
  flex: 1; /* ให้ตารางใช้พื้นที่ 1 ส่วนจาก 3 */
  overflow-y: auto;
  h1 {
    text-align: center;
  }
}

.table-row {
  font-size: 2rem;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  background-color: #ffa07a; /* Light orange */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table-row:hover {
  background-color: #ff8c69; /* Slightly darker orange */
}

.table-row.selected {
  background-color: #ff6347; /* Red-orange for selected row */
}
